pandas
numpy
scikit-learn
umap-learn
matplotlib
plotly
sentence-transformers
transformers
torch
tqdm
panphon
epitran
nltk
natasha
spacy
lingpy
python-Levenshtein
networkx
scipy
sentence-transformers
python-dotenv
bs4
